.clients-content-inner {
	text-align:left;
	font-size: 19px;
}
.clients-content-inner ul {
	list-style-type: circle;
}
.align-inline-wrap2 {
	display: block !important;
	padding-top: 1% !important;
	padding-bottom:1% !important;
}