body {
	border-radius: 0px;
}


.@instanceName #fancybox-content{
	position:relative;
    border-radius: @rounded_corners_size @rounded_corners_size 0px 0px;
} 

.@instanceName .fancybox-title-outside {
	position:relative;
	border-radius: 0px 0px @rounded_corners_size @rounded_corners_size;

}

.@instanceName img {-ms-interpolation-mode: bicubic;}