.page-content {
    float: none;
    min-height: 300px;
    width: 100%;
}
.post-content-inner {
    width:100%;
    height:100%;
}
.custom-post-list {
    min-height: 100px;
    width: 100%;
    padding-left:15px;
    padding-right:15px;
}

.content_column_row {
    margin-left: -15px;
    margin-right: -15px;
}


.content_column {
    min-height:100px;
    margin:0 auto;
    width:100%;
    padding-left:15px;
    padding-right:15px;
}

@media only screen and (min-width : 768px) {
    .page-content {
        min-height: 700px;
        width: 100%;
    }
    .custom-post-list {
        min-height: 700px;
        width: 75%;
         float: left;
    }

    .column_1{
        min-height: 700px;
        width: 25%;
        float: left;
    }

    .content_column {
        width: 90%;
    }
}
@media only screen and (min-width : 1024px) {

      .content_column {
        width: 80%;
        max-width:1232px;
    }

    .custom-custom-post-list {
        min-height: 700px;
        width: 75%;
         float: left;
    }

    .column_1{
        min-height: 700px;
        width: 25%;
        float: left;
    }
}