.row_foot-disc {
    background-color:#2c2d30;
    text-align: center;
    clear: both;
    width: auto;
    padding-top:5px;
    padding-bottom:5px;
}
.row_foot-disc a,
.row_foot-disc a:visited,
a.row_foot_disc,
a.row_foot_disc:visited {
    color:white;
    transition: all 0.1s linear 0s; 
    -webkit-transition: all 0.1s linear 0s;
    -moz-transition: all 0.1s linear 0s;
}
.row_foot-disc a:hover,
a.row_foot_disc:hover {
    color:#66ccff;
}

p.footer_copy1 {
    font-size: 15px;
    color:#F3F7EA;
    text-align:center;
    font-weight:400;
    margin-bottom:10px;
    margin-top:10px;
    padding-top:5px;
    padding-bottom:5px;
}

@media only screen and (min-width : 768px) {
    p.footer_copy1 {
        text-align: left;
    }
}    

@media only screen and (min-width : 1024px) {
    p.footer_copy1 {
        text-align: left;
    }
}    